@font-face {
  font-family: 'Saans';
  src: url('../../assets/fonts/SaansRegular.otf') format('opentype');
  font-weight: 380;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('../../assets/fonts/SaansRegularItalic.otf') format('opentype');
  font-weight: 380;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('../../assets/fonts/SaansMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('../../assets/fonts/SaansMediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('../../assets/fonts/SaansSemiBold.otf') format('opentype');
  font-weight: 670;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('../../assets/fonts/SaansSemiBoldItalic.otf') format('opentype');
  font-weight: 670;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('../../assets/fonts/SaansBold.otf') format('opentype');
  font-weight: 790;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('../../assets/fonts/SaansBoldItalic.otf') format('opentype');
  font-weight: 790;
  font-style: italic;
  font-display: swap;
}
